html {
    background-color: black;
}

header {
    padding: 50px;
}

hr {
    color: darkgray;
}

h1 {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 70px;
    text-align: center;
    text-shadow: 1px 1px 0px white;
}

p {
    color: white;
    padding: 30px;
    line-height: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: row-reverse;
  }
  
  .container img {
    width: 1000px;  
  }
  
  .text {
    text-align: center;
    flex-grow: 1;
  }

 img {
    margin: 20px;
 }